*.shader linguist-vendored
*.cginc linguist-vendored
*.hlsl linguist-vendored
Assets/HazirAssetKlasorununAdi/* linguist-vendored
*.glsl linguist-vendored
*.compute linguist-vendored
*.mat linguist-vendored
*.meta linguist-vendored
*.prefab linguist-vendored
*.unity linguist-vendored
*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
